.dashboard-card {
  border-radius: 20px;
  color: #fff;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.dashboard-card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.dashboard-card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Small devices */
@media (max-width: 576px) {
  .dashboard-card h4 {
    font-size: 1.5rem;
  }

  .dashboard-card p {
    font-size: 0.9rem;
  }
}

/* Medium devices */
@media (max-width: 768px) {
  .dashboard-card h4 {
    font-size: 1.7rem;
  }
}
